<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <b>Sign In</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <font size=5px>Sign in</font>
    <br>
    <br>
    <br>
    <ion-list id="login-list4">
      <div class="center_wrapper">
        <font size=2px color=#8175C2>Username</font>
      </div>
      <ion-item id="login-input1">
        <img src="/assets/imgs/person.png" width=auto height=30px style="opacity: 0.25">
        <ion-input type="text" [(ngModel)]="email" placeholder=""></ion-input>
      </ion-item>
      <br>
      <div class="center_wrapper">
        <font size=2px color=#8175C2>Password</font>
      </div>
      <ion-item id="login-input2">
        <img src="/assets/imgs/password.png" width=auto height=30px style="opacity: 0.25">
        <ion-input type="password" [(ngModel)]="password" placeholder=""></ion-input>
      </ion-item>
      <div *ngIf="errorMessage!= Null">
        Incorrect Email/Password
      </div>
    </ion-list>
  </div>
  <br>
  <div class="center_wrapper">
    <button class="round_button" ion-button round [disabled]="!email || !password" (click)="login()">
      SIGN IN
    </button>
  </div>
  <div class="center_wrapper" style="margin: 6px">
    <button ion-button [disabled]="!email || !password" (click)="login()">
      <font size=2px color=#8175C2>Forget password?</font>
    </button>
  </div>
  <br>
  <div class="center_wrapper">
      or
  </div>
  <br>
  <div class="center_wrapper" style="margin: 6px">
    <img src="/assets/imgs/facebook.png" width=auto height=50px style="margin-left: 25px; margin-right: 25px;">
    <img src="/assets/imgs/google_plus.png" width=auto height=50px style="margin-left: 25px; margin-right: 25px;">
  </div>
  <div class="center_wrapper" style="margin: 6px">
    <font size=2px color=#8175C2>Don't have an account?</font>
    <button ion-button [disabled]="!email || !password" (click)="login()">
      <font size=2px color=#9E8EF0>SIGN UP</font>
    </button>
  </div>
  <br>
  <div class="center_wrapper" style="margin: 6px">
    <img src="/assets/imgs/three_d_hair_logo.png">
  </div>
</ion-content>
