<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <b>Sign In</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <font size=5px>Sign in</font>
    <br>
    <br>
    <br>
    <ion-list>
      <div class="center_wrapper">
        <ion-text color="dark-purple" style="font-size: 14px">
          Username
        </ion-text>
      </div>
      <ion-item>
        <img src="/assets/imgs/person.png" width=auto height=30px style="opacity: 0.25; position: absolute;">
        <ion-input type="text" [(ngModel)]="user_input.username" style="text-align: center"></ion-input>
      </ion-item>
      <br>
      <div class="center_wrapper">
        <ion-text color="dark-purple" style="font-size: 14px">
          Password
        </ion-text>
      </div>
      <ion-item>
        <img src="/assets/imgs/password.png" width=auto height=30px style="opacity: 0.25; position: absolute;">
        <ion-input type="password" [(ngModel)]="user_input.password" style="text-align: center"></ion-input>
      </ion-item>
      <div *ngIf="errorMessage != Null">
        Incorrect Email/Password
      </div>
    </ion-list>
  </div>
  <br>
  <div class="center_wrapper">
    <ion-button shape="round" color="purple" style="width: 85%; height: 40px" [disabled]="!user_input.username || !user_input.password" (click)="login()">
      <ion-text color="white" style="font-size: 15px">
        SIGN IN
      </ion-text>
    </ion-button>
  </div>
  <div class="center_wrapper" style="margin: 6px">
    <button ion-button (click)="passwordRecovery()">
      <ion-text color="dark-purple" style="font-size: 14px">
          Forgot password?
      </ion-text>
    </button>
  </div>
  <br>
  <div class="center_wrapper">
      or
  </div>
  <br>
  <div class="center_wrapper" style="margin: 6px">
    <img src="/assets/imgs/facebook.png" width=auto height=50px style="margin-left: 25px; margin-right: 25px;">
    <img src="/assets/imgs/google_plus.png" width=auto height=50px style="margin-left: 25px; margin-right: 25px;">
  </div>
  <div class="center_wrapper" style="margin: 6px">
    <ion-text color="dark-purple" style="font-size: 14px">
        Don't have an account?
    </ion-text>
    <button (click)="goToSignup()">
      <ion-text color="purple" style="font-size: 14px">
          SIGN UP
      </ion-text>
    </button>
  </div>
  <br>
  <div class="center_wrapper" style="margin: 6px">
    <img src="/assets/imgs/three_d_hair_logo.png">
  </div>
</ion-content>
