<ion-header style="--ion-background-color:#FC5F61;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--ion-background-color:#FC5F61; text-align: center">
	<font size="6px" style="color: white">Are you sure you want to cancel your subscription?</font>
	<br><br><br><br><br>
	<img src="/assets/imgs/warning.png" style="width: auto; height: 300px">
	<br><br>
	<font size="5px" style="color: white">As stated in our subscription terms, a breach in contract without valid reason will result in a HKD 5000 surcharge</font>
	<br><br>
	<button style="background: transparent; color: white; border-radius: 100px; border: 2px solid white; padding: 15px 25px 15px 25px; width: 80%">
		<font size="4px">OK, I UNDERSTAND THE SURCHARGE, TAKE ME TO THE BILLING PAGE</font>
	</button>
	<br><br>
	<button style="background: transparent; color: white; border-radius: 100px; border: 2px solid white; padding: 15px 25px 15px 25px; width: 80%">
		<font size="4px">TALK TO OUR CUSTOMER SUPPORT AND LET US SOLVE YOUR PROBLEM</font>
	</button>
	<br><br>
</ion-content>