<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <b>Pick a Hairstyle</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center">
	<table style="margin: 10px; margin-left: auto; margin-right: auto;">
		<tr>
			<td>
				<img src="/assets/imgs/hairstyle_1.jpg">
			</td>
			<td>
				<img src="/assets/imgs/hairstyle_2.jpg">
			</td>
		</tr>
		<tr>
			<td>
				<img src="/assets/imgs/hairstyle_3.jpg">
			</td>
			<td>
				<img src="/assets/imgs/hairstyle_4.jpg">
			</td>
		</tr>
		<tr>
			<td>
				<img src="/assets/imgs/hairstyle_5.jpg">
			</td>
			<td>
				<img src="/assets/imgs/hairstyle_6.jpg">
			</td>
		</tr>
		<tr>
			<td>
				<img src="/assets/imgs/hairstyle_7.jpg">
			</td>
			<td>
				<img src="/assets/imgs/hairstyle_8.jpg">
			</td>
		</tr>
	</table>
	<table style="margin: 10px; margin-left: auto; margin-right: auto;">
		<tr *ngFor="let _ of [].constructor(hairstyles.length/2); let i = index">
			{{i}}
		</tr>
	</table>
</ion-content>