<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <b>Pick a Hairstyle</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center">
	<table style="margin: 10px; margin-left: auto; margin-right: auto;">
		<tr *ngFor="let _ of [].constructor(hairstyles.length/2); let i = index">
			<td *ngFor="let hairstyle of hairstyles.slice(i*2,(i+1)*2); let j = index">
				<img [src]="hairstyle.photo" (click)="hairstyleSelect(i*2+j)">
			</td>
		</tr>
	</table>
</ion-content>