ion-header::after {
background-image: none;
}

td {
	padding: 10px 15px 10px 15px;
	text-align: center;
}

img {
	width: auto;
	height: 180px;
}

ion-row { width:100%; height:auto; }
ion-col { width:auto; }
img { width:100%; height:100%; }