<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <b>Latest News</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item *ngFor="let news_feed of news_feeds">
			<div style="display: flex; align-items: center; width: 100%">
				<div style="flex: 1">
					<img [src]="news_feed.photo" style="width: 70px; height: auto;">
				</div>
				<div style="padding: 10px 0px 10px 0px; flex: 4">
			  		<div>
			  			<div style="float: left">
			  				<font size="2px" style="color: #4D009A">{{news_feed.author}}</font>
			  			</div>
			  			<div style="float: right">
			  				<font size="2px" style="opacity: 0.3">{{news_feed.time}}</font>
			  			</div>
			  			<br style="clear:both;" />
			  		</div>
		  		  <font size="5px">{{news_feed.title}}</font>
				  <br>
				  <font size="1px" style="opacity: 0.5; letter-spacing: 3px"><b>{{news_feed.category}}</b></font>
				</div>
			</div>
		</ion-item>
	</ion-list>
</ion-content>