<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <b>My Bills</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<table>
		<tr>
			<td style="width:33%; height: 0px">
				<ion-card style="background:#7F6CFF; box-shadow: none; border-radius: 15px; margin: 3px; height: 100%">
					<ion-card-content style="color:white; text-align:center">
						<font size=4px>Past Bookings<br><hr style="background-color: white"/>14</font>
					</ion-card-content>
				</ion-card>
			</td>
			<td style="width:33%; height: 0px">
				<ion-card style="background:#FF6CF4; box-shadow: none; border-radius: 15px; margin: 3px; height: 100%">
					<ion-card-content style="color:white; text-align:center;">
						<font size=4px>Bookings Left<br><hr style="background-color: white"/>10</font>
					</ion-card-content>
				</ion-card>
			</td>
			<td style="width:33%; height: 0px">
				<ion-card style="background:#7F6CFF; box-shadow: none; border-radius: 15px; margin: 3px; height: 100%">
					<ion-card-content style="color:white; text-align:center;">
						<font size=4px>Subscription Ends On<br><hr style="background-color: white"/>2/12/2010</font>
					</ion-card-content>
				</ion-card>
			</td>
		</tr>
	</table>
	<div style="margin: 15px 10px 15px 10px">
		<font size=5px>Past Transactions</font>
	</div>
	<ion-list lines="none">
	  <ion-item style="--ion-background-color: #F0F0F0">
	  	<div style="display: flex; align-items: center; width: 100%">
		  	<div style="padding: 10px 0px 10px 0px; flex: 5">
	  		  <font size="4px"><b>Hair Wig Subscription</b></font>
			  <br>
			  <font size="3px" style="opacity: 0.3">Hairstyle #1b - 14th Month</font>
			</div>
			<div style="flex: 1">
				<font size="4px" style="opacity: 0.3; text-align: right">$999</font>
			</div>
		</div>
	  </ion-item>
	  <ion-item style="--ion-background-color: #FFFFFF">
	  	<div style="display: flex; align-items: center; width: 100%">
		  	<div style="padding: 10px 0px 10px 0px; flex: 5">
	  		  <font size="4px"><b>Hair Wig Subscription</b></font>
			  <br>
			  <font size="3px" style="opacity: 0.3">Hairstyle #1b - 13th Month</font>
			</div>
			<div style="flex: 1">
				<font size="4px" style="opacity: 0.3; text-align: right">$999</font>
			</div>
		</div>
	  </ion-item>
	  <ion-item style="--ion-background-color: #F0F0F0">
	  	<div style="display: flex; align-items: center; width: 100%">
		  	<div style="padding: 10px 0px 10px 0px; flex: 5">
	  		  <font size="4px"><b>Hair Treatment</b></font>
			  <br>
			  <font size="3px" style="opacity: 0.3">Supreme Hair Root Energizer</font>
			</div>
			<div style="flex: 1">
				<font size="4px" style="opacity: 0.3; text-align: right">$400</font>
			</div>
		</div>
	  </ion-item>
	  <ion-item style="--ion-background-color: #FFFFFF">
	  	<div style="display: flex; align-items: center; width: 100%">
		  	<div style="padding: 10px 0px 10px 0px; flex: 5">
	  		  <font size="4px"><b>Hair Wig Subscription</b></font>
			  <br>
			  <font size="3px" style="opacity: 0.3">Hairstyle #1b - 12th Month</font>
			</div>
			<div style="flex: 1">
				<font size="4px" style="opacity: 0.3; text-align: right">$999</font>
			</div>
		</div>
	  </ion-item>
	  <ion-item style="--ion-background-color: #F0F0F0">
	  	<div style="display: flex; align-items: center; width: 100%">
		  	<div style="padding: 10px 0px 10px 0px; flex: 5">
	  		  <font size="4px"><b>Hair Wig Subscription</b></font>
			  <br>
			  <font size="3px" style="opacity: 0.3">Hairstyle #1b - 11th Month</font>
			</div>
			<div style="flex: 1">
				<font size="4px" style="opacity: 0.3; text-align: right">$999</font>
			</div>
		</div>
	  </ion-item>
	</ion-list>
</ion-content>