<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <b>My Bills</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<table>
		<tr>
			<td style="width:33%; height: 0px">
				<ion-card style="background:#7F6CFF; box-shadow: none; border-radius: 15px; margin: 3px; height: 100%">
					<ion-card-content style="color:white; text-align:center;">
						<div style="padding: 5px">
							<font size=4px>Past Bookings</font>
						</div>
					</ion-card-content>
					<div style="color:white; text-align:center; width: 100%; position: absolute; bottom: 6px;">
						<hr style="background-color: white"/>
						<font size=4px>{{bill_info.num_past_booking}}</font>
					</div>
				</ion-card>
			</td>
			<td style="width:33%; height: 0px">
				<ion-card style="background:#FF6CF4; box-shadow: none; border-radius: 15px; margin: 3px; height: 100%">
					<ion-card-content style="color:white; text-align:center;">
						<div style="padding: 5px">
							<font size=4px>Bookings Left</font>
						</div>
					</ion-card-content>
					<div style="color:white; text-align:center; width: 100%; position: absolute; bottom: 6px;">
						<hr style="background-color: white"/>
						<font size=4px>{{bill_info.num_bookings_left}}</font>
					</div>
				</ion-card>
			</td>
			<td style="width:33%; height: 0px">
				<ion-card style="background:#7F6CFF; box-shadow: none; border-radius: 15px; margin: 3px; height: 100%">
					<ion-card-content style="color:white; text-align:center;">
						<div style="padding: 5px">
							<font size=4px>Subscription Ends On</font>
						</div>
					</ion-card-content>
					<div style="color:white; text-align:center;">
						<hr style="background-color: white"/>
						<font size=4px>{{bill_info.subscription_end_date}}</font>
					</div>
				</ion-card>
			</td>
		</tr>
	</table>
	<div style="margin: 15px 10px 15px 10px">
		<font size=5px>Past Transactions</font>
	</div>
	<ion-list lines="none">
	  <ion-item [color]="i%2 != 0? 'white' : 'light'" *ngFor="let transaction of transactions; let i = index;" (click)="selectTransaction(i)">
	  	<div style="display: flex; align-items: center; width: 100%">
		  	<div style="padding: 10px 0px 10px 0px; flex: 5">
	  		  <font size="4px"><b>{{transaction.title}}</b></font>
			  <br>
			  <font size="3px" style="opacity: 0.3"> {{transaction.description}}</font>
			</div>
			<div style="flex: 1">
				<font size="4px" style="opacity: 0.3; text-align: right">${{transaction.price}}</font>
			</div>
		</div>
	  </ion-item>
	</ion-list>
</ion-content>