<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <b>Sign Up</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <font size=5px>Sign up</font>
    <br>
    <br>
    <br>
    <ion-list>
      <div class="center_wrapper">
        <ion-text color="dark-purple" style="font-size: 14px">
          Username
        </ion-text>
      </div>
      <ion-item>
        <img src="/assets/imgs/person.png" width=auto height=30px style="opacity: 0.25; position: absolute;">
        <ion-input type="text" [(ngModel)]="user_input.username" style="text-align: center"></ion-input>
      </ion-item>
      <br>
      <div class="center_wrapper">
        <ion-text color="dark-purple" style="font-size: 14px">
          Email Address
        </ion-text>
      </div>
      <ion-item>
        <img src="/assets/imgs/email_address.png" width=auto height=30px style="opacity: 0.25; position: absolute;">
        <ion-input type="email" [(ngModel)]="user_input.email" style="text-align: center"></ion-input>
      </ion-item>
      <br>
      <div>
        <div class="center_wrapper" style="float: left; width: 47.5%;">
          <div class="center_wrapper">
            <ion-text color="dark-purple" style="font-size: 14px">
              Country
            </ion-text>
          </div>
          <ion-item>
            <img src="/assets/imgs/country.png" width=auto height=30px style="opacity: 0.25; position: absolute;">
            <ion-input type="text" [(ngModel)]="user_input.country" style="text-align: center"></ion-input>
          </ion-item>
        </div>
        <div class="center_wrapper" style="float: right; width: 47.5%;">
          <div class="center_wrapper">
            <ion-text color="dark-purple" style="font-size: 14px">
              Phone Number
            </ion-text>
          </div>
          <ion-item>
            <img src="/assets/imgs/phone_number.png" width=auto height=30px style="opacity: 0.25; position: absolute;">
            <ion-input type="tel" [(ngModel)]="user_input.phone" style="text-align: center"></ion-input>
          </ion-item>
        </div>
        <br style="clear:both;" />
      </div>
      <br>
      <div class="center_wrapper">
        <ion-text color="dark-purple" style="font-size: 14px">
          Password
        </ion-text>
      </div>
      <ion-item>
        <img src="/assets/imgs/password.png" width=auto height=30px style="opacity: 0.25; position: absolute;">
        <ion-input type="password" [(ngModel)]="user_input.password" style="text-align: center"></ion-input>
      </ion-item>
      <div *ngIf="errorMessage!= Null">
        Incorrect Email/Password
      </div>
    </ion-list>
  </div>
  <br>
  <div class="center_wrapper">
    <ion-button shape="round" color="purple" style="width: 85%; height: 40px" [disabled]="!user_input.username || !user_input.email  || !user_input.country || !user_input.phone || !user_input.password" (click)="signup()">
      <ion-text color="white" style="font-size: 15px">
        SIGN UP
      </ion-text>
    </ion-button>
  </div>
  <div class="center_wrapper" style="margin: 6px">
    <ion-text color="dark-purple" style="font-size: 14px">
      Have an account?
    </ion-text>
    <button (click)="goToSignin()">
      <ion-text color="purple" style="font-size: 14px">
        SIGN IN
      </ion-text>
    </button>
  </div>
  <br>
  <div class="center_wrapper" style="margin: 6px">
    <img src="/assets/imgs/three_d_hair_logo.png">
  </div>
</ion-content>
