<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <b>Profile</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center">
	<div style="margin: 20px">
		<div style="position: relative; width: 100%; height: 160px;">
			<img src="/assets/imgs/avatar.jpg" style="width: auto; height: 160px; position: absolute; left: 0px; right: 0px; margin-left: auto; margin-right: auto; top: 0px; bottom: 0px; margin-top: auto; margin-bottom: auto;">
			<img src="/assets/imgs/photo.png" style="width: auto; height: 40px; position: absolute; left: 160px; right: 0px; margin-left: auto; margin-right: auto; top: 0px; bottom: 0px; margin-top: auto; margin-bottom: auto;">
		</div>
		<br>
		<font size="6px"><b>Benjamin Trolio</b></font>
		<br>
		<font size="4px">UI/UX Designer</font>
	</div>
	<ion-segment (ionChange)="segmentChanged($event)">
	  <ion-segment-button value="about">
	    <ion-label>About</ion-label>
	  </ion-segment-button>
	  <ion-segment-button value="settings">
	    <ion-label>Settings</ion-label>
	  </ion-segment-button>
	  <ion-segment-button value="Shots">
	    <ion-label>Shots</ion-label>
	  </ion-segment-button>
	</ion-segment>
	<ion-list lines="none" style="display: none">
		<ion-item style="--ion-background-color: #FFFFFF">
		  	<div style="display: flex; align-items: center; width: 100%">
			  	<div style="padding: 10px 0px 10px 0px; flex: 5">
			  		<font size="3px" style="opacity: 0.3">Username</font>
			  		<br>
		  		  	<font size="4px">benjamin.trolio</font>
				</div>
				<div style="flex: 1">
					<font size="4px" style="text-align: right; color: #FF7346">Edit</font>
				</div>
			</div>
		  </ion-item>
		  <ion-item style="--ion-background-color: #FFFFFF">
		  	<div style="display: flex; align-items: center; width: 100%">
			  	<div style="padding: 10px 0px 10px 0px; flex: 5">
			  		<font size="3px" style="opacity: 0.3">Email</font>
			  		<br>
		  		  	<font size="4px">benjamin.lau@3dhair.org</font>
				</div>
				<div style="flex: 1">
					<font size="4px" style="text-align: right; color: #FF7346">Edit</font>
				</div>
			</div>
		  </ion-item>
		  <ion-item>
		  	<div style="display: flex; align-items: center; width: 100%">
			  	<div style="padding: 10px 0px 10px 0px; flex: 5">
			  		<font size="3px" style="opacity: 0.3">Receive notifications</font>
			  		<br>
		  		  	<font size="4px">Enabled</font>
				</div>
				<div style="flex: 1; margin-right: 17px">
					<ion-toggle color="orange">
						
					</ion-toggle>
				</div>
			</div>
		  </ion-item>
	</ion-list>
	<ion-list lines="none">
		<ion-item style="--ion-background-color: #FFFFFF">
		  	<div style="display: flex; align-items: center; width: 100%">
			  	<div style="padding: 10px 0px 10px 0px; flex: 5">
			  		<font size="3px" style="opacity: 0.3">Username</font>
			  		<br>
		  		  	<font size="4px">benjamin.trolio</font>
				</div>
				<div style="flex: 1">
					<font size="4px" style="text-align: right; color: #FF7346">Edit</font>
				</div>
			</div>
		  </ion-item>
		  <ion-item style="--ion-background-color: #FFFFFF">
		  	<div style="display: flex; align-items: center; width: 100%">
			  	<div style="padding: 10px 0px 10px 0px; flex: 5">
			  		<font size="3px" style="opacity: 0.3">Email</font>
			  		<br>
		  		  	<font size="4px">basdfljakhsfd</font>
				</div>
				<div style="flex: 1">
					<font size="4px" style="text-align: right; color: #FF7346">Edit</font>
				</div>
			</div>
		  </ion-item>
		  <ion-item>
		  	<div style="display: flex; align-items: center; width: 100%">
			  	<div style="padding: 10px 0px 10px 0px; flex: 5">
			  		<font size="3px" style="opacity: 0.3">Receive notifications</font>
			  		<br>
		  		  	<font size="4px">Enabled</font>
				</div>
				<div style="flex: 1; margin-right: 17px">
					<ion-toggle color="orange">
						
					</ion-toggle>
				</div>
			</div>
		  </ion-item>
	</ion-list>
</ion-content>