<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <b>Customer Care</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<table>
		<tr>
			<td style="width:33%; height: 0px">
				<ion-card style="background:#9E9E9E; box-shadow: none; border-radius: 15px; margin: 3px; height: 100%">
					<ion-card-content style="color:white; text-align:center;">
						<font size=4px>Give us a call<br><br><br></font>
					</ion-card-content>
					<img src="/assets/imgs/customer_care_call.png" style="width: auto; height: 40px; left: 0px; right: 0px; margin-left: auto; margin-right: auto; position: absolute; bottom: 10px">
				</ion-card>
			</td>
			<td style="width:33%; height: 0px">
				<ion-card style="background:#7C4274; box-shadow: none; border-radius: 15px; margin: 3px; height: 100%">
					<ion-card-content style="color:white; text-align:center;">
						<font size=4px>Common Questions<br><br><br></font>
					</ion-card-content>
					<img src="/assets/imgs/customer_care_question.png" style="width: auto; height: 40px; left: 0px; right: 0px; margin-left: auto; margin-right: auto; position: absolute; bottom: 10px">
				</ion-card>
			</td>
			<td style="width:33%; height: 0px">
				<ion-card style="background:#FF6AC3; box-shadow: none; border-radius: 15px; margin: 3px; height: 100%">
					<ion-card-content style="color:white; text-align:center;">
						<font size=4px>Leave us a message<br><br><br></font>
					</ion-card-content>
					<img src="/assets/imgs/customer_care_message.png" style="width: auto; height: 40px; left: 0px; right: 0px; margin-left: auto; margin-right: auto; position: absolute; bottom: 10px">
				</ion-card>
			</td>
		</tr>
	</table>
	<div style="margin: 15px 10px 15px 10px">
		<font size=5px>Our stores</font>
	</div>
	<ion-list lines="none">
	  <ion-item  [color]="i%2 != 0? 'white' : 'light'" *ngFor="let store_info of store_infos; let i = index;">
	  	<div style="width: 100%">
		  	<div style="padding: 10px 0px 10px 0px">
	  		  <font size="4px"><b>{{store_info.store}}</b></font>
			  <br>
			  <font size="3px" style="opacity: 0.3">{{store_info.location}}</font>
			</div>
		</div>
	  </ion-item>
	</ion-list>
</ion-content>