// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.center_wrapper {
    text-align: center;
}

button {
  background-color: transparent;
}

.ion-color-purple {
  --ion-color-base: var(--ion-color-purple) !important;
  --ion-color-base-rgb: var(--ion-color-purple-rgb) !important;
  --ion-color-contrast: var(--ion-color-purple-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-purple-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-purple-shade) !important;
  --ion-color-tint: var(--ion-color-purple-tint) !important;
}

.ion-color-dark-purple {
  --ion-color-base: var(--ion-color-dark-purple) !important;
  --ion-color-base-rgb: var(--ion-color-dark-purple-rgb) !important;
  --ion-color-contrast: var(--ion-color-dark-purple-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-dark-purple-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-dark-purple-shade) !important;
  --ion-color-tint: var(--ion-color-dark-purple-tint) !important;
}

.ion-color-orange {
  --ion-color-base: var(--ion-color-orange) !important;
  --ion-color-base-rgb: var(--ion-color-orange-rgb) !important;
  --ion-color-contrast: var(--ion-color-orange-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-orange-shade) !important;
  --ion-color-tint: var(--ion-color-orange-tint) !important;
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white) !important;
  --ion-color-base-rgb: var(--ion-color-white-rgb) !important;
  --ion-color-contrast: var(--ion-color-white-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-white-shade) !important;
  --ion-color-tint: var(--ion-color-white-tint) !important;
}

.ion-color-black {
  --ion-color-base: var(--ion-color-black) !important;
  --ion-color-base-rgb: var(--ion-color-black-rgb) !important;
  --ion-color-contrast: var(--ion-color-black-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-black-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-black-shade) !important;
  --ion-color-tint: var(--ion-color-black-tint) !important;
}