<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <b>Bookings</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center">
	<img src="/assets/imgs/booking_thumbnail.jpg" style="width: 100%; height: auto;">
	<ion-card>
		<ion-card-content>
			<font size="4px" style="color: black">Hairstyle #1b</font>
			<br>
			<ion-slides pager="true">
				<ion-slide>
					<font  size="3px" style="color: black; opacity: 0.5">Using since 1/23/2019</font>
				</ion-slide>
				<ion-slide>
					<font  size="3px" style="color: black; opacity: 0.5">Fixed Contract Ended</font>
				</ion-slide>
			</ion-slides>
		</ion-card-content>
	</ion-card>
</ion-content>