<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <b>Bookings</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center">
	<img src="/assets/imgs/booking_thumbnail.jpg" style="width: 100%; height: auto;">
	<ion-card>
		<ion-card-content style="bottom: -13px">
			<font size="4px" style="color: black">Hairstyle #1b</font>
			<br>
			<ion-slides pager="true" #mySlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)" loop="true">
				<ion-slide *ngFor="let product_status of product_statuses">
					<div>
						<font size="3px" style="color: black; opacity: 0.5">{{product_status}}</font><br><br>
					</div>
				</ion-slide>
			</ion-slides>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-content style="padding: 10px 0px 10px 0px">
			<div>
				<button class="month-button" *ngFor="let month of months" (click)="select_month(month)" [ngClass]="month==selected_month?'month-button-selected':'month-button-unselected'">
					<font size="3px">{{month}}</font>
				</button>
			</div>
			<div style="background-color: #F5F5F5;">
				<button class="day-button" *ngFor="let day of days" (click)="select_day(day)" [ngClass]="day==selected_day?'day-button-selected':'day-button-unselected'">
					<font size="3px">{{day}}</font>
				</button>
			</div>
			<div>
				<button class="duration-button" *ngFor="let duration of durations" (click)="select_duration(duration)" [ngClass]="duration==selected_duration?'duration-button-selected':'duration-button-unselected'">
					<font size="3px">{{duration}} months</font>
				</button>
			</div>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-content style="padding: 15px 20px 15px 20px; background-color: #7869FF">
			<div style="float: left">
				<font size="3px" color="white">HKD$999 per month</font>
			</div>
			<div style="float: right">
				<font size="3px" color="white">Book now</font>
			</div>
			<br style="clear:both;" />
		</ion-card-content>
	</ion-card>
</ion-content>